.contact {
  position: absolute;
  width: 320px;
  left: calc(50% - 160px);
  background: white;
  border-radius: 16px;
  height: 100%;
  top: 0;
  color: rgb(16, 44, 58);

  @media (min-height: 700px) {
    height: 70vh;
    top: 15vh;
  }

  .backButton {
    height: 50px;
    width: 50px;
    background: rgba(126, 199, 251, 0.575);
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(38, 125, 187, 0.445);
    
    & span {
      position: absolute;
      top: -2px;
      font-size: 2em;
      font-weight: 900;
      left: 9px;
      color: white;
      text-shadow: 0 0 10px rgb(9, 44, 70);
    }
  }

  h2 {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;

    span {
      background: rgba(195, 217, 233, 0.205);
      display: block;
      border-radius: 12px;
      padding: 6px;
      box-shadow: none;

      @media (min-width: 690px) {
        padding: 12px;
        border-radius: 24px;
      }
      
    }

    @media (min-height: 840px) {
      margin-top: 20px;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    padding: 0 5%;

    * {
      margin-left: 20px;
    }

    label {
      margin-top: 15px;
      font-size: 1.2em;
      text-decoration: underline;
      box-shadow: 0 20px 15px -12px lavender;
      width: 60%;
      padding: 5px 20px;
      border-radius: 8px;
    }

    input {
      width: 75%;
      padding: 12px;
      font-size: 1.1em;
      margin: auto;
      margin-top: 10px;
      
      &.submitter {
        width: 80px;
        position: absolute;
        left: calc(95% - 80px);
        height: 60px;
        top: calc(95% - 40px);
        margin: inherit;
        border-radius: 15px;
        border-style: ridge;

        @media (min-height: 840px) {
          padding: 16px;
        }
      }

      @media (min-height: 840px) {
        margin-top: 20px;
      }
    }
  }

  @media (min-width: 320px) {
    width: calc(50% + 160px);
    left: calc(50% - (25% + 80px));
  }

  @media (min-width: 880px) {
    width: 600px;
    left: calc(50% - 300px);
  }
}