@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/*
 linear-gradient( 
    160deg, 
    rgb(11, 28, 40), 
    rgb(20, 54, 77), 
    rgb(44, 94, 128), 
    rgb(62, 130, 175)
    );
*/
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Playfair Display', serif;
  background: linear-gradient( 160deg, rgb(11, 28, 40), rgb(20, 54, 77), rgb(44, 94, 128), rgb(62, 130, 175));
}

#app {
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

